@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>
<link rel="stylesheet" href="@(Url.Content("~/Content/team.css"))" />
<p>This website is the culmination Team 2 Crypto-Keepers efforts during NYS DFS Techsprint event! <a href="https://www.dfs.ny.gov/techsprint">https://www.dfs.ny.gov/techsprint</a></p>
<p>
    Website made by Brian Murphy, using a SQL Server DB prepared by Ben Royce.
    Live alerts using Logic Apps prepared by Ben Royce and Kenneth O'Brien
</p>
<p>
    <b>Our Goal: </b>
    To create a tool identifier that shares data indicating known and potential criminal activity
    for regulators and law enforcement. Pain points solved include data in different formats,
    faster exchange of data, and limitations of DFS’ staff using manual processes and reviews.
    With a team combining private and government expierence, we made it happen!
</p>
<h4>Members</h4>
<img class="img-responsive" max-heigt="150px" max-width="150px" src="~/Images/teamCapture.PNG" />
@*<h4>About the Crypto-Keepers</h4>*@

<h4>About the Department of Financial Services</h4>
<p>
    The Department of Financial Services supervises and regulates the activities of nearly 1,800 insurance companies
    with assets of more than $4.7 trillion and approximately 1,500 banking and other financial institutions
    with assets totaling more than $2.6 trillion, as of Dec. 31, 2019.
</p>
<p>
    They include 134 life insurance companies, 1,168 property/casualty insurance companies, about 100
    health insurers and managed care organizations, and more than 375,000 individual insurance licensees,
    122 state-chartered banks, 80 foreign branches, 10 foreign agencies, 17 credit unions, 13 credit rating agencies,
    388 financial services companies, and more than 9,455 mortgage loan originators and servicers.
</p>
<h4>DFS Mission</h4>
<p>
    To reform the regulation of financial services in New York to keep pace with the rapid and dynamic evolution of these industries, to guard against financial crises and
    to protect consumers and markets from fraud.
</p>




@*<div class="row">
        <div class="column">
            <div class="card">
                <img src="img1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO &amp; Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/Michael Aleman.png" alt="Michael Aleman" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/Ben Royce.png" alt="Ben Royce" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>

                </div>
            </div>
        </div>
    </div>

    <div class="card" style="max-width: 18rem;">
        <img class="card-img-top" src="~/Images/Abagail Huffman.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/Images/Abagail Huffman.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Images/Ben Royce.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Images/Michael Aleman.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>*@