@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Department of Financial Services<br />
    One State Street<br />
    New York, NY 10004<br />
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <a href="https://www.dfs.ny.gov/">www.dfs.ny.gov</a><br />
    <abbr title="Phone">P:</abbr>
    212-709-3000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>