@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" color:white;background-size:cover; background-image: url('/Images/Zoombkg.jpg')">
    <h2>The DFS Data Junction - Powered by Crypto-Keepers</h2>
    <p>Your #1 secure, efficient, information sharing solution in the Cryptocurrency space.</p>
    <p><a href="https://www.dfs.ny.gov/techsprint" class="btn btn-primary btn-lg">View &raquo;</a></p>
</div>

<div>
    
    <div class="row text-justify"style="        background-color: #eeeeee;
        margin-bottom: 20px">

        <div class="well-md">
            <h2 class="text-center text-center"><u>Regulated Entities Actions</u></h2>
            <div class="one">
                <div class="jumbotron col-sm-6 text-center">
                    <div class="text-center">
                        <p>Create Alerts</p>
                        <p><a class="btn btn-default" href="~/alerts/create">Create</a></p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="jumbotron col-sm-6 text-center">
                    <p>View Alert</p>
                    <p><a class="btn btn-default" href="~/alerts">View</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #e5eeee">
    <h2 class="text-center text-center"><u>DFS Admin Section</u></h2>
    <div class="row text-center">
        <div class="col-md-4">
            <h2>View Alerts</h2>
            <p><a class="btn btn-default" href="~/alerts/">View</a></p>
        </div>
        <div class="col-md-4">
            <h2>Regulated Entities</h2>
            <p><a class="btn btn-default" href="~/entities/">View</a></p>
        </div>
        <div class="col-md-4">
            <h2>Priorities</h2>
            <p><a class="btn btn-default" href="~/priorities/">View</a></p>
        </div>
        <div class="col-md-4">
            <h2>Types</h2>
            <p><a class="btn btn-default" href="~/types/">View</a></p>
        </div>
        <div class="col-md-4">
            <h2>Flags</h2>
            <p><a class="btn btn-default" href="~/flags/">View</a></p>
        </div>
        <div class="col-md-4">
            <h2>Coins</h2>
            <p><a class="btn btn-default" href="~/coins/">View</a></p>
        </div>

    </div>
</div>